<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:allowAudioPlaybackCapture="true" android:appCategory="game" android:icon="@mipmap/ic_launcher" android:isGame="true" android:label="@string/app_name">
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|density" android:exported="true" android:name="com.winlator.MainActivity" android:screenOrientation="sensor" android:theme="@style/AppThemeDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|density" android:exported="false" android:launchMode="singleTask" android:name="com.winlator.XServerDisplayActivity" android:screenOrientation="sensorLandscape" android:supportsPictureInPicture="true" android:theme="@style/AppThemeFullscreenDark"/>
        <activity android:exported="false" android:name="com.winlator.ControlsEditorActivity" android:screenOrientation="sensorLandscape" android:theme="@style/AppThemeFullscreenDark"/>
        <activity android:exported="false" android:name="com.winlator.ExternalControllerBindingsActivity" android:screenOrientation="sensor" android:theme="@style/AppThemeDark"/>
        <provider android:authorities="com.winlator.FileProvider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.winlator.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
    </application>
</manifest>
